/target/
target/classes/hibernate.cfg.xml
target/classes/connection/DBConnection.class
target/classes/servlets/AddToDoServlet.class
target/classes/servlets/UpdateToDoServlet.class
target/m2e-wtp/web-resources/META-INF/maven/com.hibernate/ToDowithHibernate/pom.properties
